apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gateway-service.fullname" . }}-config
data:
  application.yml: |
    app:
      env: "dev"
      logs:
        kafka:
          env: "dev"
          topic: "bank-platform-logs"
    spring:
      application:
        name: gateway-service

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
          acks: all
          retries: 5
          properties:
            enable.idempotence: true

      r2dbc:
        url: "r2dbc:postgresql://bank-platform-postgres:5432/bank?currentSchema=users"
        username: "${SPRING_R2DBC_USERNAME}"
        password: "${SPRING_R2DBC_PASSWORD}"
        pool:
          enabled: true

      security:
        oauth2:
          client:
            registration:
              gateway-client:
                client-id: gateway-service
                client-secret: "${KEYCLOAK_CLIENT_SECRET}"
                authorization-grant-type: client_credentials
                scope: openid, profile, email
            provider:
              keycloak:
                token-uri: http://bank-platform-keycloak:8095/realms/bank/protocol/openid-connect/token

    management:
      observations:
          enabled: true
          include: 
            - r2dbc.* 
            - kafka.*  
      tracing:
        sampling:
          probability: 1.0
        propagation:
          type: B3,W3C
        baggage:
          remote-fields:
            - env
        correlation:
          fields:
            - env
            - traceId
            - spanId
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        prometheus:
          enabled: true

      zipkin:
        tracing:
          endpoint: http://bank-platform-zipkin:9411/api/v2/spans

      metrics:
        tags:
          application: ${spring.application.name}
        distribution:
          percentiles-histogram:
            http.server.requests: true
        enable:
          all: true  # Включаем все метрики

    server:
      port: 8080


