apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gateway-service.fullname" . }}-config
data:
  application-k8s.yml: |
    spring:
      application:
        name: gateway-service

      url: "r2dbc:postgresql://bank-platform-postgres:5432/bank?currentSchema=users"
        username: "${SPRING_R2DBC_USERNAME}"
        password: "${SPRING_R2DBC_PASSWORD}"

      security:
        oauth2:
          client:
            registration:
              gateway-client:
                client-secret: "${KEYCLOAK_CLIENT_SECRET}"  # переменная подхватится из env

      server:
        port: 8080

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false