apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "gateway-service.fullname" . }}-config
data:
  application-k8s.yml: |
    spring:
      application:
        name: gateway-service

      r2dbc:
        url: "r2dbc:postgresql://bank-platform-postgres:5432/bank?currentSchema=users"
        username: "postgres"
        password: "secret_pass"

    server:
      port: 8082

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false