spring:
  application:
    name: notification-service

app:
  kafka:
    topics:
      notifications: notifications.raw

server:
  port: 8087


logging:
  level:
    root: INFO
    example.bank: DEBUG
