spring:
  main:
    allow-bean-definition-overriding: true

app:
  kafka:
    topics:
      notifications: notifications.raw

server:
  port: 8087


logging:
  level:
    root: INFO
    example.bank: DEBUG
