spring:
  application:
    name: notification-service  
  main:
    allow-bean-definition-overriding: true

  kafka:
    streams:
      application-id: notification-service-streams  

app:
  kafka:
    topics:
      notifications: notifications.raw
  logs:
    kafka:
      env: dev
      topic: bank-platform-logs

server:
  port: 8087


logging:
  level:
    root: INFO
    example.bank: DEBUG



