enabled: true
replicaCount: 1
image:
  repository: account-service
  tag: "latest"
  imagePullPolicy: Never
service:
  port: 8082

database:
  host: "bank-platform-postgres"
  port: 5432
  name: "bank"
  initialize: "false"
  initMode: "never"

# Конфигурация Spring
config:
  spring:
    application:
      name: account-service
    r2dbc:
      url: "r2dbc:postgresql://bank-platform-postgres:5432/bank?currentSchema=users"
    security:
      oauth2:
        client:
          registration:
            account-client:
              client-id: account-service
              client-secret: "${KEYCLOAK_CLIENT_SECRET}"  # Берём из env
          provider:
            keycloak:
              issuer-uri: http://bank-platform-keycloak:8095/realms/bank

# Секреты
account-service:
  secrets:
    keycloakSecret: account-service-keycloak-secret
    dbCredentials: account-service-db-credentials


