spring:
  application:
    name: cash-service

  security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: http://192.168.0.140:8090/realms/bank

        client:
          registration:
            cash-service-client:      # имя регистрации — можно любое понятное
              provider: keycloak
              client-id: cash-service    # этот клиент должен быть создан в Keycloak            
              client-secret: "${KEYCLOAK_CLIENT_SECRET}"    # предаем в Secret для Keycloak client-secret
              scope: openid, profile, email
              authorization-grant-type: client_credentials
          provider:
            keycloak:
              token-uri: http://192.168.0.140:8090/realms/bank/protocol/openid-connect/token

app:
  kafka:
    topics:
      notifications: notifications.raw

server:
  port: 8083

management:
  endpoints:
    web:
      exposure:
        include: health,info