apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cash-service.fullname" . }}-config
data:
  application-k8s.yml: |
    spring:
      application:
        name: cash-service

    server:
      port: 8083

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false