apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "cash-service.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: cash-service

      security:
        oauth2:
          client:
            registration:
              cash-service-client:
                client-secret: "${KEYCLOAK_CLIENT_SECRET}"

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
          acks: all
          retries: 5
          properties:
            enable.idempotence: true

    management:
      observations:
          enabled: true
          include: 
            - r2dbc.* 
            - kafka.*  
      tracing:
        sampling:
          probability: 1.0
        propagation:
          type: B3,W3C
        baggage:
          remote-fields:
            - env
          correlation:
            fields:
              - env
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        prometheus:
          enabled: true

      zipkin:
        tracing:
          endpoint: http://bank-platform-zipkin:9411/api/v2/spans

    app:
      kafka:
        topics:
          notifications: notifications.raw   # общий топик уведомлений

    server:
      port: 8083

