apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "cash-service.fullname" . }}
  labels:
    app: {{ include "cash-service.name" . }}
spec:
  replicas: {{ .Values.replicaCount | default 1 }}
  selector:
    matchLabels:
      app: {{ include "cash-service.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "cash-service.name" . }}
    spec:
      containers:
        - name: {{ include "cash-service.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: {{ .Values.service.port }}
          envFrom:
            - configMapRef:
                name: {{ include "cash-service.fullname" . }}-config
          # Подключение реальных секретов
          env:
            - name: KEYCLOAK_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: cash-service-keycloak-secret
                  key: client-secret

          volumeMounts:
            - name: config
              mountPath: /app/config

          resources:
                requests:
                  cpu: "100m"
                  memory: "256Mi"
                limits:
                  cpu: "500m"
                  memory: "512Mi"

          startupProbe:
            tcpSocket:
              port: 8083
            failureThreshold: 30
            periodSeconds: 5
            
          livenessProbe:
            tcpSocket:
              port: 8083
            initialDelaySeconds: 30
            periodSeconds: 10
            
          readinessProbe:
            tcpSocket:
              port: 8083
            initialDelaySeconds: 15
            periodSeconds: 5

      volumes:
        - name: config
          configMap:
            name: {{ include "cash-service.fullname" . }}-config