apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "exchange-service.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: exchange-service

      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: http://192.168.0.140:8090/realms/bank
              # позже заменишь на http://auth.localhost/realms/bank, когда поднимешь Keycloak в k8s

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        consumer:
          group-id: exchange-service
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
          properties:
            spring.json.trusted.packages: "example.bank"
        listener:
          ack-mode: RECORD

    management:
      observations:
          enabled: true
          include: 
            - r2dbc.* 
            - kafka.*  
      tracing:
        sampling:
          probability: 1.0
        propagation:
          type: B3,W3C
        baggage:
          remote-fields:
            - env
          correlation:
            fields:
              - env
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        prometheus:
          enabled: true

      zipkin:
        tracing:
          endpoint: http://bank-platform-zipkin:9411/api/v2/spans

    app:
      kafka:
        topics:
          exchange-rates: exchange.rates

    server:
      port: 8084


