apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "exchange-service.fullname" . }}-config
data:
  application-k8s.yml: |
    spring:
      application:
        name: exchange-service

    server:
      port: 8084

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false