apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "notification-service.fullname" . }}-config
data:
  application-k8s.yml: |
    spring:
      application:
        name: notification-service

    server:
      port: 8087

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false