apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "notification-service.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: notification-service

      main:
        allow-bean-definition-overriding: true

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        consumer:
          group-id: notification-service
          key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
          value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
          properties:
            spring.json.trusted.packages: "example.bank"
        listener:
          ack-mode: RECORD

    management:
      observations:
          enabled: true
          include: 
            - r2dbc.* 
            - kafka.*  
      tracing:
        sampling:
          probability: 1.0
        propagation:
          type: B3,W3C
        baggage:
          remote-fields:
            - env
          correlation:
            fields:
              - env
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        prometheus:
          enabled: true

      zipkin:
        tracing:
          endpoint: http://bank-platform-zipkin:9411/api/v2/spans

      metrics:
          distribution:
            percentiles-histogram:
              http.server.requests: true
            percentiles:
              http.server.requests: 0.5,0.95,0.99

    app:
      kafka:
        topics:
          notifications: notifications.raw

    server:
      port: 8087


