spring:
  reactor:
    context-propagation: auto
  application:
    name: transfer-service
  
  main:
    allow-bean-definition-overriding: true
  security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: http://192.168.0.140:8090/realms/bank

        client:
          registration:
            transfer-service-client:      
              provider: keycloak
              client-id: transfer-service               
              client-secret: "${KEYCLOAK_CLIENT_SECRET}"  # предаем в Secret для keycloak
              scope: openid, profile, email
              authorization-grant-type: client_credentials
          provider:
            keycloak:
              token-uri: http://192.168.0.140:8090/realms/bank/protocol/openid-connect/token

clients:
  account:
    baseUrl: http://bank-platform-account-service:8082/accounts/{id}
  withdraw:
    baseUrl: http://bank-platform-account-service:8082/accounts/{id}/withdraw?amount={amount}
  deposit:
    baseUrl: http://bank-platform-account-service:8082/accounts/{id}/deposit?amount={amount}
  
  

app:
  kafka:
    topics:
      notifications: notifications.raw
  logs:
    kafka:
      env: dev
      topic: bank-platform-logs

server:
  port: 8086


