spring:
  application:
    name: transfer-service
  security:
      oauth2:
        resourceserver:
          jwt:
            issuer-uri: http://192.168.0.140:8090/realms/bank

        client:
          registration:
            transfer-service-client:      
              provider: keycloak
              client-id: transfer-service               
              client-secret: "${KEYCLOAK_CLIENT_SECRET}"  # предаем в Secret для keycloak
              scope: openid, profile, email
              authorization-grant-type: client_credentials
          provider:
            keycloak:
              token-uri: http://192.168.0.140:8090/realms/bank/protocol/openid-connect/token

server:
  port: 8086


