apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "exchange-generator.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: exchange-generator

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
          acks: all
          retries: 5
          properties:
            interceptor.classes: io.micrometer.tracing.kafka.KafkaTracingProducerInterceptor
            enable.idempotence: true

    management:
      observations:
          enabled: true
          include: 
            - r2dbc.* 
            - kafka.*  
      tracing:
        sampling:
          probability: 1.0
        propagation:
          type: B3,W3C
        baggage:
          remote-fields:
            - env
        correlation:
          fields:
            - env
            - traceId
            - spanId
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        prometheus:
          enabled: true
        health:
          probes:
            enabled: false

      zipkin:
        tracing:
          endpoint: http://bank-platform-zipkin:9411/api/v2/spans

      metrics:
        distribution:
          percentiles-histogram:
            http.server.requests: true
          percentiles:
            http.server.requests: 0.5,0.95,0.99

    app:
      kafka:
        topics:
          exchange-rates: exchange.rates
      env: "dev"
      logs:
        kafka:
          env: "dev"
          topic: "bank-platform-logs"

    exchange:
      api-url: "https://open.er-api.com/v6/latest/RUB"
      update-interval-ms: 60000

    server:
      port: 8085



