apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "transfer-service.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: transfer-service

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
          acks: all
          retries: 5
          properties:
            enable.idempotence: true

    management:
      observations:
          enabled: true
          include: 
            - r2dbc.* 
            - kafka.*  
      tracing:
        sampling:
          probability: 1.0
        propagation:
          type: B3,W3C
        baggage:
          remote-fields:
            - env
          correlation:
            fields:
              - env
      endpoints:
        web:
          exposure:
            include: health,info,prometheus
      endpoint:
        prometheus:
          enabled: true

      zipkin:
        tracing:
          endpoint: http://bank-platform-zipkin:9411/api/v2/spans

      metrics:
        distribution:
          percentiles-histogram:
            http.server.requests: true
          percentiles:
            http.server.requests: 0.5,0.95,0.99

    app:
      kafka:
        topics:
          notifications: notifications.raw

    server:
      port: 8086


