apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "account-service.fullname" . }}-config
data:
  application.yml: |
    spring:
      application:
        name: account-service

      r2dbc:
        url: "r2dbc:postgresql://bank-platform-postgres:5432/bank?currentSchema=account"
        username: "${SPRING_R2DBC_USERNAME}"
        password: "${SPRING_R2DBC_PASSWORD}"

      security:
        oauth2:
          resourceserver:
            jwt:
              issuer-uri: http://bank-platform-keycloak:8095/realms/bank
          client:
            registration:
              account-client:                # имя регистрации — любое, но одно и то же везде
                provider: keycloak
                client-id: account-service   # ВАЖНО: не пустой
                client-secret: "${KEYCLOAK_CLIENT_SECRET}"
                scope: openid, profile, email
                authorization-grant-type: client_credentials
            provider:
              keycloak:
                token-uri: http://bank-platform-keycloak:8095/realms/bank/protocol/openid-connect/token

      kafka:
        bootstrap-servers: {{ .Values.global.kafka.bootstrapServers | quote }}
        producer:
          key-serializer: org.apache.kafka.common.serialization.StringSerializer
          value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
          acks: all
          retries: 5
          properties:
            enable.idempotence: true

    app:
      kafka:
        topics:
          notifications: notifications.raw

    server:
      port: 8082

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false