apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "account-service.fullname" . }}-config
data:
  application-k8s.yml: |
    spring:
      application:
        name: account-service

      r2dbc:
        url: "r2dbc:postgresql://bank-platform-postgres:5432/bank?currentSchema=account"
        username: "${SPRING_R2DBC_USERNAME}"
        password: "${SPRING_R2DBC_PASSWORD}"

      security:
        oauth2:
          client:
            registration:
              account-client:
                client-secret: "${KEYCLOAK_CLIENT_SECRET}"  # переменная подхватится из env

    server:
      port: 8082

    management:
      health:
        db:
          enabled: false
        r2dbc:
          enabled: false