enabled: true
image:
  repository: postgres
  tag: "15-alpine"
postgresUser: postgres
postgresPassword: secret_pass
postgresDatabase: bank
storage:
  size: 1Gi

  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi