apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "prometheus.fullname" . }}-config
data:
  prometheus.yml: |
    global:
      scrape_interval: {{ .Values.scrapeInterval }}
      evaluation_interval: {{ .Values.evaluationInterval }}

    rule_files:
      - /etc/prometheus/rules.yml

    scrape_configs:
      - job_name: 'kubernetes-pods-actuator'
        metrics_path: /actuator/prometheus
        kubernetes_sd_configs:
          - role: pod

        relabel_configs:
          # брать только pods из namespace, где стоит bank-platform
          - source_labels: [__meta_kubernetes_namespace]
            action: keep
            regex: {{ .Release.Namespace }}

          # брать только pods, у которых есть label app 
          - source_labels: [__meta_kubernetes_pod_label_app]
            action: drop
            regex: (bank-platform-postgres|postgres|kaffka-service|prometheus|.*-exporter)

          - action: labelmap
            regex: __meta_kubernetes_pod_label_(.+)

      - job_name: "postgres-exporter"
        static_configs:
          - targets: ["bank-platform-postgres-exporter:9187"]

      - job_name: "kafka-exporter"
        static_configs:
          - targets: ["kaffka-service-exporter:9308"]

  rules.yml: |
    groups:
      - name: bank-alerts
        rules:
          - alert: High5xxRate
            expr: |
              sum(rate(http_server_requests_seconds_count{status=~"5.."}[2m]))
              /
              sum(rate(http_server_requests_seconds_count[2m])) > 0.02
            for: 2m
            labels:
              severity: warning
            annotations:
              summary: "Высокая доля 5xx"
              description: "Доля 5xx > 2% в течение 2 минут"

          - alert: HighLatencyP95
            expr: |
              histogram_quantile(0.95,
                sum by (le) (rate(http_server_requests_seconds_bucket[5m]))
              ) > 1.0
            for: 5m
            labels:
              severity: warning
            annotations:
              summary: "Высокая задержка p95"
              description: "p95 по HTTP > 1s в течение 5 минут"